# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# Matlab
*.asv
*.m~
*.mex*
*.mat
*.slxc
*.autosave

# LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.bbl
*.blg

# Data
data/interim/
data/processed/
data/external/
*.csv.gz
*.zip

# VSCode / Editors
.vscode/
.idea/
